.card-container{
    width: 25rem;
    height: 32rem;
    background: linear-gradient(180deg, var(--color-primary) 50%, var(--white) 50%);
    border: 1px solid #AAAAAA;
    box-sizing: border-box;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .3fr 1fr .7fr;
    grid-auto-flow: row;
    justify-content: center;
    align-items: center;
    grid-template-areas:
    "title"
    "image"
    "text";
}


.title {

    justify-self: center;
    grid-area: title;
}

.image {

    justify-self: center;
    grid-area: image;
}

.text {

    justify-self: center;
    grid-area: text;
}



