section {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.title-container-user {
  display: flex;
  width: 80%;
  align-items: flex-end;
  color: var(--color-secondary);
}

.title-container-user h5 {
  color: var(--text-color);
  margin-left: auto;
}

.avatar-image {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}
