.list-restyled {
  padding: 0;
  margin: 0.2rem 1.5rem;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

a {
  text-align: center;
  margin: 0.5rem;
  padding: 0.5rem;
  display: block;
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
}

a.primary:hover {
  color: var(--color-primary);
}

a.secondary:hover {
  color: var(--color-secondary);
}

a.tertiary:hover {
  color: var(--color-tertiary);
}

a.primary:after {
  display: block;
  margin: 0.5rem;
  content: "";
  border-bottom: solid 3px var(--color-primary);
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
a.secondary:after {
  display: block;
  margin: 0.5rem;
  content: "";
  border-bottom: solid 3px var(--color-secondary);
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
a.tertiary:after {
  display: block;
  margin: 0.5rem;
  content: "";
  border-bottom: solid 3px var(--color-tertiary);
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
a:hover:after {
  transform: scaleX(1);
}

a.primary.active {
  color: var(--color-primary);
}
a.secondary.active {
  color: var(--color-secondary);
}
a.tertiary.active {
  color: var(--color-tertiary);
}
