:root {
<<<<<<< HEAD
  --white: #ffffff;
  --black: #000000;
  --very-light-grey: #f5f5f8;
  --text-color: #b4b6ba;
  --text-color-light: #c7c7c7;
  --color-primary: #eaa7c7;
  --color-secondary: #ffc73f;
  --color-tertiary: #e6a5e1;
=======
  --white: #FFFFFF;
  --black: #000000;
  --very-light-grey: #F5F5F8;
  --text-color: #B4B6BA;
  --text-color-light: #C7C7C7;
  --color-primary: #EAA7C7;
>>>>>>> origin/master
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}

<<<<<<< HEAD
body{
  font-family: "Quicksand", sans-serif;
  font-size: var(--md);
  margin: 0;
  padding: 0;
  width: 100%;
}


=======
body {
  margin: 0 10em 0 0;
  padding: 0;
  background: var(--very-light-grey);
  font-family: 'Quicksand', sans-serif;
  display: grid;
  place-items: end;
}




>>>>>>> origin/master
