:root {
  --white: #FFFFFF;
  --black: #000000;
  --very-light-grey: #F5F5F8;
  --text-color: #B4B6BA;
  --text-color-light: #C7C7C7;
  --color-primary: #EAA7C7;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}

body {
  margin: 0 10em 0 0;
  padding: 0;
  background: var(--very-light-grey);
  font-family: 'Quicksand', sans-serif;
  display: grid;
  place-items: end;
}




